<ion-card *ngIf="!!item">
  <ion-card-header class="ion-no-padding">
    <ion-card-title>{{ item.title }}</ion-card-title>
  </ion-card-header>

  <ion-footer class="ion-padding-top">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="bulb"></ion-icon>
        <ion-label>{{ item.score }}</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ item.by }}</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="time"></ion-icon>
        <ion-label>{{ item.time | timeAgo }} ago</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="presentActions()" fill="clear" color="medium" hncClickStopPropagation>
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>
<ion-card *ngIf="!item">
  <ion-card-header>Loading...</ion-card-header>
</ion-card>
