<div>
  <h2 class="title" (click)="openPage(item.url)">{{ item.title }}</h2>
  <div>
    <span>
      <ion-icon name="bulb"></ion-icon>
      {{ item.score }}
    </span>
    <span>
      <ion-icon name="person"></ion-icon>
      {{ item.by }}
    </span>
    <span>
      <ion-icon name="time"></ion-icon>
      {{ item.time | timeAgo }} ago
    </span>
  </div>
  <div>
    <span>
      <ion-icon name="link"></ion-icon>
      {{ item.url }}
    </span>
    <ion-button
      *ngIf="item.kids"
      fill="clear"
      [routerLink]="['/comments', item.id]"
    >
      <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      {{ item.kids.length }}
    </ion-button>
  </div>
</div>
