<span>
  <ion-spinner *ngIf="loading; else notLoading"></ion-spinner>

  <ng-template #notLoading>
    <ion-button fill="clear" *ngIf="inFavorite; else notInFavorite" (click)="remove()">
      <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
    </ion-button>

    <ng-template #notInFavorite>
      <ion-button fill="clear" class="btnLike" (click)="add()">
        <ion-icon slot="icon-only" name="heart-outline" color="danger"></ion-icon>
      </ion-button>
    </ng-template>
  </ng-template>
</span>
